body {
	padding-top: 64px;
}
.sticky-offset {
    top: 64px;
}
#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
	box-shadow: 2px 0px 4px rgba(0,0,0,.5);
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 300px;
}
.sidebar-collapsed {
    width: 60px;
}
.sub-item a {
	color: white !important;
	font-size: 12px;
}
/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.system-version {
	display: inline-block;
	position: absolute;
	height: auto;
	width: 100%;
	margin-bottom: 5%;
	padding-top: 50px;
	text-align: center;
	color: #9E9E9E;
	font-size: 10px
}
.input-link {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.input-link:hover {
    text-decoration: underline;
}
.card {
    max-width: 100%;
}
.card-text {
    word-wrap: break-word;
}