.navbar {
	background-color: #222 !important;
	box-shadow: 0 2px 4px rgba(0,0,0,.5);
}
.brand {
	width: 60%;
	height: auto;
}
.navbar-brand{
	padding: 0px 0px 0px 20px;
}
.nav-link{
	padding: 0 16px !important;
	font-size: 14px;
	font-weight: bold;
	color: #9E9E9E !important;
}
.nav-link:hover{
	color: #FFF !important
}